@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 15px;
  font-family: 'Inter', sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #090b1a;
}

.component {
  width: 845px;
  height: 350px;
  display: flex;
}

.content-side {
  width: 50%;
  background: #1b1938;
  border-radius: 1rem 0rem 0rem 1rem;
}

.img-side {
  width: 50%;
  background-image: linear-gradient(rgba(170, 92, 219, 0.3), rgba(170, 92, 219, 0.6)), url("/images/image-header-desktop.jpg");
  background-size: cover;
  border-radius: 0rem 1rem 1rem 0rem;
}

.header {
  margin: 3rem 3rem 2rem 3rem;
  font-size: 1.825rem;
  font-weight: 700;
  color: white;
}

.awarded {
  color: #aa5cdb;
}

.content {
  margin: 0rem 3rem;
  color: rgba(255, 255, 255, 0.75);
  font-weight: 400;
  font-size: 0.825rem;
  line-height: 1.375rem;
}

.stats {
  display: flex;
  justify-content: space-between;
  margin: 2rem 3rem 3rem 3rem;
}

.stat-header {
  color: white;
  font-size: 1.375rem;
  font-weight: 700;
  margin-bottom: 0.375rem;
}

.stat-content {
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.75rem;
}

@media screen and (max-width: 910px) {
  body {
    position: relative;
    top: 0%;
    left: 0%;
    transform: translate(0%, 0%);
  }
  .component {
    width: 45vh;
    height: 100vh;
    flex-direction: column;
    margin: 3rem 1rem;
  }
  .content-side {
    width: 100%;
    border-radius: 0rem 0rem 1rem 1rem;
    height: 100vh;
    order: 2;
  }
  .img-side {
    flex: auto;
    order: 1;
    width: 100%;
    height: 50vh;
    background-image: linear-gradient(rgba(170, 92, 219, 0.3), rgba(170, 92, 219, 0.6)), url("/images/image-header-mobile.jpg");
    border-radius: 1rem 1rem 0rem 0rem;
  }
  .header {
    margin: 2.5rem 1.25rem 0rem 1.25rem;
    text-align: center;
  }
  .content {
    margin: 2.5rem 1.25rem;
    text-align: center;
    font-size: 0.9rem;
  }
  .stats {
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 2rem;
    margin: 2rem 3rem 3rem 3rem;
  }
}
